.scrollToTop {
  position: fixed;
  background-color: red;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
