.menu {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.menuItem {
  width: 100%;
  height: 133px;
  border: 1px solid #f89938;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuItemLabel {
  font-family: "Noto Serif", serif;
  font-size: 16px;
  line-height: 21.96px;
  margin-top: 18px;
}

.menuItemIcon {
  margin-top: 0;
  height: 50px;
}

.link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
