.footer{
    margin-top: 16px;
    font-family: "ITC Benguiat Std", sans-serif;
    font-weight: bold;
}

.footer > p{
    margin: 0;
    font-weight: bold;
}

.footer > ul{
    list-style: none;
    padding: 0;

}