@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("http://fonts.cdnfonts.com/css/itc-benguiat-std");

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  position: relative;
}

* {
  color: white;
}

.cjenik {
  padding: 24px;
}

.sprite {
  width: 100%;
}

.logo {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.cjenik-title-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cjenik-title {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 36px;
  font-size: bold;
  line-height: 43px;
  display: inline-block;
  border-bottom: 2px solid #f89938;
}
